#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  z-index: 1;
}

.card-size {
  width: 120px;
  height: 165px;
}

.tiny-card-size {
  width: 50px;
  height: 69px;
}

.read-the-docs {
  color: #888;
}

.deck-info {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
ul {
  list-style: none; 
  padding-left: 0; 
}

.card-target {
  position: absolute;
  z-index: 0;
  width: 125px;
  height: 165px;
}

#user-active {
  top: 20px;
  left: 550px;
  background-color: rgba(200, 10, 10, 0.5);
}

#user-bench-1 {
  top: 210px;
  left: 250px;
  background-color: rgba(170, 220, 230, 0.5);
}

#user-bench-2 {
  top: 210px;
  left: 400px;
  background-color: rgba(170, 220, 230, 0.5);
}

#user-bench-3 {
  top: 210px;
  left: 550px;
  background-color: rgba(170, 220, 230, 0.5);
}

#user-bench-4 {
  top: 210px;
  left: 700px;
  background-color: rgba(170, 220, 230, 0.5);
}

#user-bench-5 {
  top: 210px;
  left: 850px;
  background-color: rgba(170, 220, 230, 0.5);
}

#discard-area {
  top: 400px;
  left: 1000px;
  background-color: rgba(120, 120, 120, 0.5);
}

#discard-select-button {
  top: 60px;
  left: 150px;
  width: 180px;
  background-color: rgba(20, 20, 20, 0.7);
}

#deck {
  position:absolute;
  top: 210px;
  left: 1000px;
  width: 120px;
  height: 165px;
}

#hand-area {
  position:absolute;
  top: 400px;
  left: 20px;
  width: 200px;
  height: 165px;
  background-color: rgba(58, 58, 92, 0.5);
}

#private-hand-area {
  position:absolute;
  top: 150px;
  left: 100px;
  width: 200px;
  height: 165px;
  background-color: rgba(58, 58, 92, 0.5);
}

#game-logs-button {
  top: 330px;
  left: 200px;
  width: 180px;
  background-color: rgba(20, 20, 20, 0.7);
}

#discard-hand-button {
  top: 380px;
  left: 200px;
  width: 180px;
  background-color: rgba(200, 10, 10, 0.7);
}

#draw-card-button {
  position: absolute;
  top: 50px; 
  left: 920px;
  width: 120px;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.7);
}

#flip-coin-button {
  position: absolute;
  top: 100px;
  left: 920px;
  width: 120px;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.7);
}

#end-game-button {
  position: absolute;
  top: 150px; 
  left: 920px;
  width: 120px;
  color: #fff;
  background-color: rgba(200, 10, 10, 0.7);
}

#deck-select-button {
  top: 20px;
  width: 180px;
  background-color: rgba(20, 20, 20, 0.7);
}

#number-in-deck-display {
  position: absolute;
  font-weight: bold;
  font-size:xx-large;
  color:chartreuse;
  text-shadow: 3px 3px #333;
  top: 20px;
  left: 40px;
  z-index: 6;
}

#add-damage-counter-button {
  position: absolute;
  top: 0px; 
  left: 125px;
}

#damage-display {
  position: absolute;
  top: 20px; 
  left: 130px;
}

#remove-damage-counter-button {
  position: absolute;
  top: 50px; 
  left: 125px;
}

#hand-tighten-button {
  position: absolute;
  top: 60px;
  left: -40px;
}

.icon-button {
  cursor: pointer;
}

.info-block {
  position: absolute;
  top: -20px;  
  cursor: pointer;
}

.energy-icon {
  position: absolute;
  top: -20px; 
}

.energy-icon > img {
  width: 15px;
  height: 15px;
}

.poisoned {
  position: absolute; 
  top: 80px; 
  left: 125px;
}

.asleep {
  position: absolute; 
  top: 100px; 
  left: 125px;
}

.paralyzed {
  position: absolute; 
  top: 120px; 
  left: 125px;
}

.confused {
  position: absolute; 
  top: 140px; 
  left: 125px;
}

.active-condition {
  color: #fff;
  font-weight:bold;
}

.inactive-condition {
  color: #666;
}

.card-overlay-container {
  position:relative;
}

.card-overlay {
  position:absolute;
  top:50%;
  left:50%;
  max-height:700px;
  max-width:400px;
}

.scrollable-modal {
  padding-top:25px;
  padding-left:25px;
  max-height: 80vh;
  min-width: 50%;
  max-width: 500px;
  overflow-y: auto;
}


@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.coin {
	height: 150px;
	width: 150px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	margin: 50px auto;
}
.coin img {
	width: 145px;
}
.heads,
.tails {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50%;
}
.tails {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

#return-to-hand-zone {
  position: absolute;
  top: 400px;
  left: 250px;
  width: 720px;
  height: 165px;
  background-color: #646cff96;
}

#move-to-play-zone {
  position: absolute;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 80px;
  background-color: #646cff96;
}

#private-qr {
  position: absolute;
  top: 10px;
  left: 250px;
  width: 100px;
  height:120px;
  font-size:x-small;
  word-wrap:break-word;
  -webkit-user-select: text; /* Safari */
  -moz-user-select: text; /* Firefox */
  user-select:text;
}

.qr {
  height: 100%;
  max-width: 100%;
}

@-webkit-keyframes spin-tails {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform: rotateX(1980deg);
		transform: rotateX(1980deg);
	}
}
@keyframes spin-tails {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform: rotateX(1980deg);
		transform: rotateX(1980deg);
	}
}
@-webkit-keyframes spin-heads {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform: rotateX(2160deg);
		transform: rotateX(2160deg);
	}
}
@keyframes spin-heads {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform: rotateX(2160deg);
		transform: rotateX(2160deg);
	}
}